header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 25px;
  box-shadow: 0 0px 6px 0px #0000002e;
}

#title {
  font-size: 1.4rem;
  font-weight: bold;
}

.slogan {
  font-size: 0.9rem;
}
